.data {
    float: left;
}

.options{
    float: right;
}

.person_container {
    display: block;
    position: relative;
    white-space: nowrap;
}

.person_container .profile {
    float: left;
}

.person_container .person_data {
    float: right !important;
    padding: 38px !important;
}